:root {
  --font: 'Manrope', sans-serif;
  --main-content-color: #ffffff;
  --buttons-color: #174cc0;
  --numbers-color: #969698;
  --stroke-color: #b5b5b5;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;

  cursor: pointer;
}

body {
  background-color: #1e2226;
  background-size: 100%;
  overflow-x: hidden;
}

.address {
  font-style: normal;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.address {
  font-style: normal;
}

.container {
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;
}

/* MOBILE PHONES */
@media screen and (min-width: 375px) {
  .container {
    max-width: 360px;
  }
}

@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

/* TABLETS */
@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

/* LAPTOPS and DESKTOPS */
@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

/* LARGE SCREENS */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1360px;
  }
}

/* ==================== HEADER ==================== */
.header {
  padding-top: 30px;
  padding-bottom: 30px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.logo {
  font-family: var(--font);
  font-size: 50px;
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: 0.03;
  color: var(--main-content-color);
  margin-right: 584px;
}

.menu__item:not(:last-child) {
  margin-bottom: 1px;
}

.menu__link {
  position: relative;
  font-family: var(--font);
  font-size: 17px;
  font-weight: 500;
  line-height: 1.36;
  letter-spacing: 0.03;
  color: var(--main-content-color);
}

.menu__link:hover,
.menu__link:focus {
  color: var(--main-content-color);
}

.menu__link:hover:before {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.6s;
}

.menu__link:before {
  content: '';
  width: 100%;
  height: 1px;
  background-color: var(--main-content-color);
  position: absolute;
  left: 0;
  bottom: -1px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.6s;
}

.nav__button {
  background: #1e2226;
  border: 2px solid #ffffff;
  border-radius: 40px;
  width: 190px;
  height: 53px;

  font-family: var(--main-content-color);
  color: var(--main-content-color);
  font-size: 15px;
  font-weight: 500;
  line-height: 1.36;
  text-align: center;
  padding: 15px 30px 15px 30px;

  margin-left: auto;

  transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__button:hover,
.nav__button:focus {
  background-color: #e9e9e9;
  color: #3c3c3c;
  border: #e9e9e9;
}

/* ==================== HERO ==================== */
.hero {
  padding-top: 30px;
  padding-bottom: 140px;
}

.hero__title {
  font-family: var(--font);
  color: var(--main-content-color);
  font-size: 150px;
  font-weight: 700;
  line-height: 0.9;
  margin-bottom: 90px;
}

.hero__title--rectangle::before {
  content: '';
  display: inline-block;
  border: 17px solid var(--main-content-color);
  width: 287px;
  height: 75px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 100px;
}

.hero__title--last-word {
  display: inline-block;
}

.hero__button {
  background: var(--buttons-color);
  border-radius: 40px;
  width: 340px;
  height: 100px;

  display: inline-block;
  vertical-align: middle;
  margin-top: -25px;
  margin-left: -20px;

  font-family: var(--font);
  font-size: 25px;
  font-weight: 500;
  line-height: 1.36;
  text-align: center;
  color: var(--main-content-color);

  transition: 0.5s;
}

.hero__button:hover,
.hero__button:focus {
  background: linear-gradient(94.87deg, #b620e0 -22.41%, #0e44fc 103.54%);
}

.hero__description {
  white-space: nowrap;
}

.description__item {
  white-space: normal;
  display: inline-block;
  width: 48%;
  vertical-align: top;

  font-family: var(--font);
  color: var(--main-content-color);
  font-size: 25px;
  font-weight: 400;
  line-height: 1.2;
}

.hero__description .description__item:first-child {
  margin-right: 68px;
}

.description__item--left {
  font-size: 35px;
  font-weight: 500;
  line-height: 0.8;
}

/* ==================== Separator ==================== */
.separator {
  width: 100%;
  max-width: 1280px;
  height: 0;
  border-top: 1px solid var(--main-content-color);
  margin: 0 auto;
}

/* ==================== FEATURES ==================== */
.features {
  padding-top: 140px;
  padding-bottom: 138px;
}

.features__title {
  font-family: var(--font);
  color: var(--main-content-color);
  font-weight: 700;
  font-size: 40px;
  line-height: 0.8;
}

/* ==================== PRICES ==================== */
.prices {
  padding-top: 140px;
  padding-bottom: 207px;
}

.prices__title {
  font-family: var(--font);
  color: var(--main-content-color);
  font-weight: 700;
  font-size: 40px;
  line-height: 0.8;
}

/* ==================== PARTNERS ==================== */
.partners {
  padding-top: 140px;
  padding-bottom: 54px;
}

.partners__title {
  font-family: var(--font);
  color: var(--main-content-color);
  font-weight: 700;
  font-size: 40px;
  line-height: 0.8;
  margin-bottom: 60px;
}

.partners__list {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.partners__item:not(:last-child) {
  margin-right: 3px;
}

.partners__item {
  background-color: var(--main-content-color);
  width: 280px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.partners__img {
  max-width: 100%;
  max-height: 100%;
}

.partners__item:hover {
  border: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(110.56deg, #b620e0 36.54%, #0047ff 95.46%);
  background-blend-mode: lighten;
}

/* ==================== SERVICES ==================== */
.services {
  padding-top: 140px;
  padding-bottom: 11px;
}

.services__title {
  font-family: var(--font);
  color: var(--main-content-color);
  font-weight: 700;
  font-size: 40px;
  line-height: 0.8;

  margin-bottom: 60px;
}

.services__row {
  display: flex;
  flex-direction: row;
  padding-bottom: 229px;
}

.services__row-left {
  margin-left: 104px;
}

.services__row-right {
  margin-left: 190px;
}

.services__title-sub {
  font-family: var(--font);
  color: var(--main-content-color);
  font-size: 30px;
  font-weight: 500;
  line-height: 1.36;

  margin-bottom: 81px;
}

.services__description-one,
.services__description-two {
  font-family: var(--font);
  color: var(--main-content-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.37;
}

.services__description-one {
  margin-bottom: 20px;
}

.symbol {
  font-size: 10px;
  vertical-align: top;
}

.services__item {
  font-family: var(--font);
  color: var(--main-content-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.37;
}

.services__item:not(:last-child) {
  margin-bottom: 27px;
}

.services__item-nmbr {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.36;
  margin-right: 31px;
}

.services__item-nmbr-clr {
  color: #a6a6a6;
}

/* ==================== FEEDBACK ==================== */
.feedback {
  padding-top: 140px;
  padding-bottom: 235px;
}

.feedback__title {
  font-family: var(--font);
  color: var(--main-content-color);
  font-weight: 700;
  font-size: 40px;
  line-height: 0.8;
  margin-bottom: 60px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__field {
  width: 508px;
  height: 82px;
  border: var(--stroke-color);
  border-radius: 40px;
  background: var(--main-content-color);
  margin-bottom: 20px;
  text-align: center;

  font-family: var(--font);
  color: var(--stroke-color);
  font-size: 25px;
  font-weight: 500;
  line-height: 0.8;
}

.form__btn {
  width: 508px;
  height: 82px;
  border: var(--stroke-color);
  border-radius: 40px;
  background: var(--buttons-color);
  margin-bottom: 20px;
  text-align: center;

  font-family: var(--font);
  color: var(--main-content-color);
  font-weight: 500;
  font-size: 25px;
  line-height: 1.36;

  cursor: pointer;
}

/* ==================== CONTACT ==================== */
.contact {
  padding-top: 150px;
  padding-bottom: 7px;
}

.contact__mail {
  display: block;
  text-align: center;
  font-family: var(--font);
  color: var(--main-content-color);
  font-size: 40px;
  font-weight: 700;
  line-height: 1.37;
  margin: 0 auto;
  margin-bottom: 128px;
}

.contact__list {
  display: flex;
  justify-content: center;
  margin-bottom: 132px;
}

.contact__item-wrapper:not(:last-child) {
  margin-right: 85px;
}

/* .contact__icon {

} */

.contact__phone {
  font-family: var(--font);
  color: var(--main-content-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 0.8;
}

.instagram {
  font-family: var(--font);
  color: var(--main-content-color);
  font-size: 15px;
  font-weight: 500;
  line-height: 1.3;
}

.contact__address {
  font-family: var(--font);
  color: var(--main-content-color);
  font-size: 15px;
  font-weight: 500;
  line-height: 1.3;
}

/* ==================== COPYRIGHT ==================== */
.copyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.copyright__text {
  font-family: var(--font);
  font-weight: 300;
  font-size: 8px;
  line-height: 1.37;
  color: rgba(255, 255, 255, 0.5);
}
